@import "bootstrap-sprockets";
@import "bootstrap";

* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", Helvertica, Arial, sans-serif;
	font-size: 16px;
}

/*
   New Booking Page
*/

.search{
	margin-top: 30px;
	margin-bottom: 30px;
}

.search-results{
	margin-bottom: 50px;
}

h3{
	border-bottom: 1px solid #000;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 30px;
}

/* 
  Header
*/

.logo {
	font-size: 40px;
	padding: 25px 15px;
	font-weight: 400;
}

.navbar-default {
    background-color: #00446E;
	height: 75px;
	border-radius: 0;
	border: 0;
}

.navbar-brand.logo {
	color: #FFF;
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
}

.nabar-brand.logo:hover {
	color: #E3E3E3;
}

.rm-p {
	padding-left: 0 !important;
}
