<footer>
	<div class="container-fluid">
		<div class="col-sm-2">
			<div class="contact">
				<small>Contact me:</small>
				  <ul>
				  	<li><%= link_to '<i class="fa fa-github-square"></i>'.html_safe, "https://github.com/Danshock"%></li>
				  </ul>
			</div>
		</div>
	</div>
</footer>